<html lang="en">
<%- include("./partials/head.ejs") %>

  <body class="bg-dark" style="min-height: 100vh;">
    <%- include("./partials/nav.ejs") %>

      <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container details_content">
          <div class="content">
            <h1>
              <%= course.name %>
            </h1>
            <p><strong>Code:</strong>
              <%= course.code %>
            </p>
            <p><strong>Teacher:</strong>
              <%= course.teacher %>
            </p>
            <p><strong>Description:</strong>
              <%= course.description %>
            </p>
            <p><strong>Subject Area:</strong>
              <%= course.subjectArea %>
            </p>
            <p><strong>Credits:</strong>
              <%= course.credits %>
            </p>
          </div>
          
          <% if (user && user.type=='teacher' ) { %>
            <button class="btn btn-danger delete" data-bs-toggle="modal" data-bs-target="#confirmSelection"> Delete
            </button>

            <a href="/courses/update/<%= course._id %>" class="btn btn-warning">Edit</a>
          <% } %>
        </div>
      </section>

      <!-- Delete Modal -->
      <div class="modal fade" id="confirmSelection" tabindex="-1" aria-labelledby="confirmSelectionLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmSelectionLabel">Delete Course</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="lead">Are you sure you want to delete <%= course.name %>?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <a class="btn btn-danger delete" data-doc="<%= course._id %>">Delete</a>
            </div>
          </div>
        </div>
      </div>

      <%- include("./partials/footer.ejs") %>

        <script>
          const trashcan = document.querySelector('a.delete');

          trashcan.addEventListener('click', (e) => {
            const endpoint = `/courses/${trashcan.dataset.doc}`;

            fetch(endpoint, {
              method: 'DELETE',
            })
              .then(response => response.json())
              .then(data => window.location.href = data.redirect)
              .catch(err => console.log(err));
          });
        </script>
  </body>

</html>