<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <!-- Showcase -->
      <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
          <div class="d-sm-flex align-items-center justify-content-between">
            <div>
              <h1>Enroll in <span class="text-warning"> Courses </span></h1>
              <p class="lead my-4">
                Start to create your schedule today!
              </p>
              <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">
                Start The Enrollment
              </button>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="/img/showcase.svg" alt="" />
          </div>
        </div>
      </section>


      <h2 class="bg-primary m-0 p-5 text-center text-light">All Courses</h2>

      <section class="courses_content text-light bg-dark p-5">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th class="text-center">Course Name</th>
              <th class="text-center">Teacher</th>
              <th class="text-center">Description</th>
              <th class="text-center">Subject Area</th>
              <th class="text-center">Credits</th>
            </tr>
          </thead>
          <tbody>
            <% if (Courses.length > 0) { %>
              <% Courses.forEach(course => { %>
                <tr onclick="window.location='/courses/<%= course._id %>'" style="cursor: pointer;">
                  <td>
                    <h3 class="text-center"><%= course.name %></h3>
                  </td>
                  <td>
                    <p class="text-center"><%= course.code %></p>
                  </td>
                  <td>
                    <p class="text-center"><%= course.teacher %></p>
                  </td>
                  <td>
                    <p class="text-center"><%= course.description %></p>
                  </td>
                  <td>
                    <p class="text-center"><%= course.subjectArea %></p>
                  </td>
                  <td>
                    <p class="text-center"><%= course.credits %></p>
                  </td>
                </tr>
              <% }) %>
            <% } else { %>
              <tr>
                <td colspan="5">There are no courses to display...</td>
              </tr>
            <% } %>
          </tbody>
        </table>        
      </section>

      <%- include("./partials/footer.ejs") %>
  </body>

</html>